/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the hero banner */
.hero-banner {
    background-image: url('./../assets/top-banner-desktop.jpg');
     /* Replace 'your-background-image.jpg' with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc((100vw / 112) * 39);
    color: #fff; /* Text color */
}

/* Styling the text content */
.hero-content {
    max-width: 800px; /* Adjust the max-width as needed */
}

.hero-content h1 {
    font-size: 3em; /* Adjust the font size as needed */
    margin-bottom: 20px;
}

/* Styling the CTA button */
.cta-button {
    background-color: #a90d0e; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 40px;
    font-size: 1.2em; /* Adjust the font size as needed */
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
    font-family: Montserrat;
}

.cta-button:hover {
    background-color: white; /* Button background color on hover */
    border: 1px solid black;
    color: black;
}

.heading-text {
    color: #a90d0e;
    font-family: Montserrat;
}

.subheading {
    font-family: Montserrat;
    font-weight: 500;
    color: black;
    font-size: 20px;
    margin-bottom: 5%;
}

.about-text {
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    margin-top: 10px; /* Adjust the margin-top as needed */
    margin-bottom: 10px; /* Adjust the margin-bottom as needed */
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 18%;
    padding-right: 18%;
}

.hero-banner-2 {
    background-image: url("./../assets/second-hero-banner.jpg");
     /* Replace 'your-background-image.jpg' with your image path */
    background-size: cover;
    background-position: center;
    height: calc((100vw / 224) * 103); /* Set the height to achieve a 224:103 aspect ratio */
    display: flex;
}

/* Styling the text content */
.hero-content-2 {
    padding-left: 18%; /* Adjust the left padding as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; /* Text color */
    padding-right: 40%;
    font-family: Montserrat;
}

.hero-content-2 h1 {
    font-size: 2em; /* Adjust the font size as needed */
    margin-bottom: 10px;
}

.hero-content-2 p {
    font-size: 1.2em; /* Adjust the font size as needed */
}

/* Styling the text alignment */
@media (max-width: 768px) {
    /* For smaller screens, center-align text */
    .hero-content-2 {
        padding-left: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.section-heading {
    font-family: Montserrat;
    color: #a90d0e; /* Font color */
    text-align: center;
    margin-bottom: 30px; /* Adjust margin as needed */
    padding-top: 2%;
}

/* Styling the commitment section */
.commitment-section {
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 3%;
}

/* Styling the commitment container */
.commitment-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; /* Adjust margin as needed */
}

/* Styling the commitment boxes */
.commitment-box {
    width: calc((100% - 83px) / 2); /* Adjust width and distance between boxes */
    max-width: 566px; /* Adjust max-width as needed */
    height: 389px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Box background color */
    border: 1px solid #ddd; /* Box border */
    border-radius: 5px; /* Box border radius */
}

/* Styling for box content */
.commitment-box {
    /* Add styles for box content here */
}

.cbox-title {
    font-size: 20px;
    text-align: center;
    padding-top: 8%;
    font-family: "Montserrat";
    color: rgb(169, 13, 14);
    font-weight: bold;
    line-height: 1.2;
    left: 436.516px;
    top: 2103.5px;
    z-index: 75;
}

.cbox-text {
    font-size: 15px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    z-index: 74;
    padding: 20px 40px;
}

.text-image-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 83px; /* Adjust the gap between text and image */
    align-items: center;
    padding: 50px 18%; /* Adjust padding as needed */
    margin-bottom: 50px; /* Adjust margin as needed */
}

/* Styling for text container */
.text-container {
    max-width: 570px; /* Adjust max-width as needed */
}

/* Styling for image container */
.image-container {
    max-width: 540px; /* Adjust max-width as needed */
    text-align: center; /* Center align image */
}

/* Styling for image */
.image-container img {
    max-width: 100%; /* Ensure image does not exceed its container's width */
    height: auto; /* Maintain aspect ratio */
}
/* Styling for section title */
.section-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 30px;
    color: #a90d0e; /* Title color */
    margin-bottom: 20px; /* Adjust margin as needed */
}

/* Styling for section text */
.section-text {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Text color */
}


.hero-banner-3 {
    background-image: url('../assets/trial-banner-image.jpg');
    background-size: cover;
    background-position: center;
    height: calc((100vw / 112) * 49); /* Set the height to achieve a 224:103 aspect ratio */
    display: flex;
}

/* Styling the text content */
.hero-content-3 {
    padding-left: 18%; /* Adjust the left padding as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff; /* Text color */
    padding-right: 40%;
    font-family: Montserrat;
}

.hero-content-3 h1 {
    font-size: 2.5em; /* Adjust the font size as needed */
    margin-bottom: 10px;
}

.hero-content-3 p {
    font-size: 1.2em; /* Adjust the font size as needed */
}

.cta-button-2 {
    background-color: #a90d0e; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 40px;
    font-size: 1.2em; /* Adjust the font size as needed */
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
    font-family: Montserrat;
}

.button-box {
padding-top: 5%;
}

.section-text {
    font-family: Montserrat !important;
}

.cbox-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the content spans the full height of the box */
}

.cbox-title {
    margin-bottom: 10px; /* Adjust margin as needed */
}

.cbox-text {
    text-align: center; /* Center-align the text */
}


@media (max-width: 767px) {
    .hero-banner {
        background-image: url('../assets/top-banner-mobile.jpg');
        /* Replace 'your-background-image.jpg' with your image path */
        height: calc((100vw / 384) * 493); /* Set the height to achieve a 384:493 aspect ratio */
    }

    .about-text {
        padding: 5% 10%;
    }
}

@media (max-width: 767px) {
    .hero-banner-2 {
        background-image: url('../assets/second-hero-banner-mobile.jpg');
         /* Replace 'your-background-image.jpg' with your image path */
        height: calc((100vw / 32) * 25); /* Set the height to achieve a 32:25 aspect ratio */
    }

    .hero-content-2 {
        padding-left: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 25%;
        text-align: left;
    }

    .hero-content-2 h1 {
        margin-left: -40%;
        text-align: left;
    }
}

@media (max-width: 768px) {
    /* Stack commitment boxes on top of each other */
    .commitment-container {
        flex-direction: column;
    }

    /* Adjust width of commitment boxes to take full width */
    .commitment-box {
        width: calc(100% - 40px); /* Adjust width as needed */
        margin-bottom: 20px; /* Adjust margin between boxes */
    }
}

@media (max-width: 768px) {
    /* Adjust layout for mobile */
    .text-image-section {
        display: block; /* Change to block layout for mobile */
        padding: 20px 5%; /* Adjust padding for mobile */
    }
    
    /* Center-align text and image for mobile */
    .text-container,
    .image-container {
        text-align: center;
    }
    
    /* Ensure images maintain their aspect ratio */
    .image-container img {
        max-width: 100%; /* Ensure image does not exceed its container's width */
        height: auto; /* Maintain aspect ratio */
    }
}

@media (max-width: 768px) {
    .hero-banner-3 {
        height: auto; /* Set height to auto for smaller screens */
        background-image: url('../assets/submit-mortgage-banner-mobile.jpg'); /* Replace 'new-mobile-image.jpg' with your new image path */
        background-size: cover; /* Ensure background image covers the container */
        background-position: center; /* Center the background image */
        padding: 20px; /* Adjust padding for smaller screens */
    }

    .hero-content-3 {
        max-width: 100%; /* Allow text content to take full width */
        text-align: center; /* Center-align text */
        padding: 18% 10%;
    }

}


@media (max-width: 768px) { 
    #image-on-right-desktop {
        display: none;
    }

}

@media (min-width: 768px) { 
    #image-on-right-mobile {
        display: none;
    }

}

.dashboard {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  }